/* ========== HEADER STYLES ========== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  width: 100%;
  height: 100px;
  background-color: #ffffff2c;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  overflow: hidden;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  backdrop-filter: blur(10px);
  z-index: -1;
}
.header-logo-container {
  width: 10%;
  height: 100%;
  display: grid;
  place-items: center;
}
.header-logo {
  width: 5.625rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.nav {
  width: 70%;
  height: 100%;
  display: grid;
  place-items: center;
}
.nav-list {
  display: flex;
  gap: 3rem;
}
.nav-list .nav-link {
  color: #000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: color 0.4s;
}
.nav-list .nav-link:hover {
  color: #47aa5b;
}
.nav-list .nav-link.active {
  color: #47aa5b;
}
.header-button-container {
  width: 20%;
  display: grid;
  place-items: center;
}
.header-purchase-btn {
  background-color: var(--button-bg-color);
  color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 1rem;
  cursor: pointer;
}
.menu-icon {
  display: none;
}

/* mobile nav */
.mobile-nav-container {
  display: none;
}
/* ========== hero section ========== */
.hero-section-wrapper {
  background-image: url("./assets/images/hero-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.hero-section-container {
  height: 750px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-text {
  z-index: 100;
  font-weight: bold;
  font-size: 54px;
  text-align: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.hero-text-up {
  color: #fff;
  z-index: 100;
}
.hero-text-down-1 {
  color: #47aa5b;
  z-index: 100;
}
.hero-text-down-2 {
  color: #987300;
  z-index: 100;
}
.sub-hero-text {
  text-align: center;
  color: #fff;
  font-size: 22px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-top: 1.5rem;
  z-index: 100;
}
.hero-order-btn {
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: var(--button-bg-color);
  margin-top: 2rem;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  border-radius: 1.2rem;
  cursor: pointer;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}
.order-now-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #feac01;
}
.hero-service {
  margin-top: 1.5rem;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  z-index: 100;
}
.pickup {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-size: 14px;
  z-index: 100;
}
.pickup-title {
  font-weight: 500;
  z-index: 100;
}
.pickup-img-container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 100;
}
.pickup img {
  width: 40px;
}
.leaf-img {
  position: absolute;
  height: 202px;
  left: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.hero-left-img {
  position: absolute;
  width: auto;
  height: 700px;
  top: 18%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 1;
}
.hero-right-img {
  position: absolute;
  right: 0;
  top: 13%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 1;
}

/* ========== ABOUT SECTION STYLES */
.about-section-title {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
  column-gap: 0.5rem;
  margin-bottom: 1.5rem;
}
.title-logo {
  width: 46px;
  height: 26.07px;
}
.title-part-1 {
  color: var(--section-title-first-color);
}
.title-part-2 {
  color: var(--section-title-second-color);
}

.about-text {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 1rem;
}
.about-img {
  position: absolute;
  right: 5%;
  top: 52.75rem;
  z-index: -1;
}
.about-text-bottom-1 {
  color: #3e7f51;
}
.about-text-bottom-2 {
  color: #ff5c00;
}
.about-sub-text {
  font-size: 18px;
  width: 58%;
}
.about-us-list {
  margin-top: 2rem;
  display: flex;
  column-gap: 5rem;
}
.about-us-list ul li {
  margin-bottom: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.about-round {
  background-image: url("./assets/images/about-circle.png");
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
.about-tick {
  height: 34px;
  width: 44px;
}
.about-btn {
  background-color: var(--button-bg-color);
  padding: 0.9rem 1rem;
  outline: none;
  border: none;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
  column-gap: 0.6rem;
  cursor: pointer;
}
.about-btn-icon {
  font-size: 20px;
}
/* NEWS SECTION STYLES */
.news-section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
}
.news-sub-title {
  font-size: 45px;
  font-weight: bold;
  margin: 1rem 0;
  text-align: center;
}
.news-sub-title-part-1 {
  color: #3e7f51;
}
.news-sub-title-part-2 {
  background: linear-gradient(
    90deg,
    #3e7f51 40%,
    #6bae78 45%,
    #ff8c33 55%,
    #ff5c00 60%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.news-sub-title-part-3 {
  color: #ff5c00;
}
.news-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding: 10px;
}

.news-card-container > div:nth-child(1) {
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.news-card-container > div:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 1rem;
}

.news-card-container > div:nth-child(2) > div:nth-child(1) {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.news-card-container > div:nth-child(2) > div:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.news-card-container > div:nth-child(2) > div:nth-child(2) > div {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.news-card-container img {
  width: 100%;
}
.card-body {
  padding: 1rem;
}
.card-body p {
  font-size: 22px;
  font-weight: bold;
}
.news-user-date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 1rem;
  font-size: 16px;
}
.news-user-date-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 1rem;
  font-size: 12px;
}
.news-user-date-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 1rem;
  font-size: 12px;
}
.news-user {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}
.news-date {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}
/* CHOOSE US SECTION STYLES */
.choose-us-container {
  background-color: #f5f7eb;
}
.choose-us-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.choose-us-text {
  margin-bottom: 3rem;
}
.choose-us-list {
  display: flex;
  column-gap: 1.2rem;
}
.choose-us-list ul li {
  background-color: #fff;
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  height: 106px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.choose-us-list ul li div {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.choose-us-list ul li p {
  font-size: 16px;
}
/* CUSTOMERS STYLES */
.customers-section-container {
  display: grid;
  align-items: center;
}
.customers-data {
  background-image: url("./assets/images/customer-bg-vector.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  padding: 2rem 1rem;
  display: grid;
  align-items: center;
}
.customers-data ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
}
.customers-data ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  color: #fff;
}
.customers-data ul li img {
  height: 60px;
  width: auto;
}
.customer-info div {
  font-size: 35px;
  font-weight: 500;
}
.customer-info p {
  font-size: 20px;
}
/* ========== MANGO TYPES ========== */
.mangoes {
  display: grid;
  column-gap: 1.5rem;
  row-gap: 3rem;
  padding: 16px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.image-container {
  position: relative;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.image-container button {
  position: absolute;
  bottom: -13px; /* Half of the button height to position half inside and half outside */
  left: 50%;
  transform: translateX(-50%);
  background-color: #568f67;
  outline: none;
  border: none;
  border-radius: 1rem;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  width: 309px;
  height: 42px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mango-item {
  border-radius: 8px;
  text-align: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.view-more-btn-container {
  text-align: center;
}
.view-more-btn {
  background-color: #30a330;
  color: #fff;
  outline: none;
  border: none;
  padding: 15px 20px;
  border-radius: 1.5rem;
  font-size: 18px;
  text-align: center;
  margin-top: 1.5rem;
  cursor: pointer;
}
/* ========== Footer Styles ========= */
.footer {
  background-color: #002d00;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}
.divider {
  color: #30a330;
}
.footer-top-text {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
}
.footer-top-text img {
  width: 60px;
  height: 60px;
}
.footer-top-text p {
  font-size: 30px;
  color: #fff;
}
.footer-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
.footer-input-container input {
  width: 300px;
  height: 50px;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px;
}
.footer-input-container button {
  background-color: #005001;
  font-size: 16px;
  color: #fff;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}
.copy-right {
  font-size: 16px;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
}

/* ========== TEAM MEMBER STYLES ========== */
.member-data {
  text-align: center;
}
.team-member-list {
  display: grid;
  place-items: center;
  column-gap: 1.5rem;
  row-gap: 3rem;
  padding: 16px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.member-data {
  background-color: #f5f7eb;
  border-radius: 10px;
  padding: 1rem;
}
.member-title {
  font-size: 16px;
}
.member-name {
  font-size: 20px;
  font-weight: 500;
  margin: 0.5rem 0;
}
.member-data ul {
  display: flex;
  column-gap: 0.6rem;
  justify-content: center;
  align-items: center;
}
/* for medium devices */
@media screen and (max-width: 820px) {
  .header {
    padding: 0 3rem;
  }
  .nav {
    display: none;
  }

  .header-purchase-btn {
    display: none;
  }
  .menu-icon {
    display: block;
    font-size: 20px;
    color: #000;
    cursor: pointer;
  }
  .mobile-nav-container {
    display: block;
    position: fixed;
    z-index: 9999;
    height: 100vh;
    background-color: #fff;
    width: 240px;
    padding: 3rem;
    left: -100%;
    transition: left 0.4s;
  }

  .mobile-nav .mobile-nav-list .nav-element {
    margin-bottom: 2rem;
  }
  .mobile-nav .mobile-nav-list .nav-element .nav-link {
    color: #000;
    font-size: 18px;
    transition: color 0.4s;
  }
  .close-icon {
    font-size: 20px;
    position: absolute;
    top: 10;
    right: 10%;
    cursor: pointer;
  }
  .show-nav {
    left: 0;
  }
  .about-section-container {
    margin: 5rem 0;
  }
  .about-img {
    display: none;
  }
  .about-sub-text {
    width: 100%;
  }
  .card-body {
    padding: 1rem 0.5rem;
  }
  .card-body p {
    font-size: 15px;
    font-weight: bold;
  }
  .news-user-date {
    font-size: 12px;
  }
  .news-user-date-1 {
    font-size: 8px;
    column-gap: 4px;
  }
  .news-user-date-2 {
    font-size: 8px;
    column-gap: 4px;
  }
  .choose-us-data {
    display: block;
    justify-content: space-between;
    align-items: center;
  }
  .choose-img {
    display: none;
  }
  .customers-data ul {
    column-gap: 0.5rem;
  }
  .customers-data ul li img {
    height: 40px;
    width: auto;
  }
  .customer-info div {
    font-size: 20px;
    font-weight: 500;
  }
  .customer-info p {
    font-size: 13px;
  }
  .footer-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3rem 0;
    row-gap: 1rem;
  }
}

@media (max-width: 768px) {
  .news-card-container {
    grid-template-columns: 1fr;
  }

  .news-card-container > div:nth-child(2) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .news-card-container > div:nth-child(2) > div:nth-child(2) {
    grid-template-columns: 1fr;
  }
  .news-user-date-1 {
    font-size: 12px;
    column-gap: 1rem;
  }
  .news-user-date-2 {
    font-size: 12px;
    column-gap: 1rem;
  }
}
/* for small devices */
@media screen and (max-width: 767px) {
  .header {
    padding: 0 1.5rem;
    height: 70px;
  }
  .hero-text {
    font-size: 30px;
    padding: 0.5rem;
  }
  .sub-hero-text {
    font-size: 18px;
    padding: 0.5rem;
  }
  .hero-order-btn {
    font-size: 18px;
  }
  .hero-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
  }
  .hero-right-img {
    display: none;
  }

  .about-text {
    font-size: 22px;
  }
  .about-us-list {
    display: block;
  }
  .about-us-list ul li {
    font-size: 15px;
  }
  .about-round {
    background-image: url("./assets/images/about-circle.png");
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
  }
  .about-tick {
    height: 34px;
    width: 44px;
  }
  .news-sub-title {
    font-size: 23px;
  }
  .section-padding {
    padding: 2rem 1rem;
  }
  .choose-us-list {
    display: block;
  }
  .customers-data {
    background: #3e7f51;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding: 2rem 1rem;
    display: grid;
    align-items: center;
  }
  .customers-data ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    row-gap: 2rem;
  }
  .footer-top-text {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
  }
  .footer-top-text img {
    width: 40px;
    height: 40px;
  }
  .footer-top-text p {
    font-size: 18px;
    color: #fff;
  }
  .footer-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    row-gap: 1rem;
  }
  .footer-input-container input {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
  }
  .footer-input-container button {
    background-color: #005001;
    font-size: 16px;
    color: #fff;
    padding: 6px 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
  }
}
