/* =========== GOOGLE  FONTS =========== */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

/* ========== VARIABLES ========== */
:root {
  --header-height: 3.5rem;
  /* ========== COLORS ============ */
  --section-title-first-color: #000;
  --section-title-second-color: #ff5c00;
  /* OTHER COLORS */
  --button-bg-color: #30a330;
  --hero-bg-15: #f37731;
  --hero-bg-78: #fdcc26;
}

/* RESET THE CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lexend", sans-serif;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* ========== RE-USABLE STYLES ========== */
.container{
  max-width: 1150px;
}
.section-padding{
  padding: 2rem 3rem;
}
.grid{
  display: grid;
  place-items: center;
}
